@media only screen and (max-width:1024px) {
	.main_top-m .logo { 
		width: 36% !important;
	}
	.main_top-m .m_menu { 
		width:60%;
		margin-left: 150px !important;
	}
	
	.toggle_bts {  
	top: 20% !important;}
	.contents h3 {
	top: 215px !important;
	}
}

@media only screen and (max-width:400px) {
	
	.main_top-m .logo {
		width: 100% !important;
	position: absolute !important;}
	
	.main_top-m .m_menu { 
		width: 100% !important;
		position: relative;
		top: 73px;
		left: -10px;
		margin: 0 auto !important;
		height: 200px;
	}
	
	.main_top-m .m_menu nav.menu ul li {
		display: inline-block;
		
	}
	.social-icons-fixed .sc-inner {
	top: 5% !important;
	}
	
	.toggle_bts {
		top: 50% !important;
	}
	
	.contents {
		width: 89% !important;
		top: 95px !important;
		right: 24px !important;
	}
	
	.contents h2 {
		margin-top: 18px;
		font-size: 12px !important;
	}
	
	.contents h3 {
		font-size: 12px !important;
		margin-top: 20px !important;
	}
	
	.contents h2 span {
	font-size: 17px !important;}
	.pic-bg {
		top: 7px !important;
		left: 58px !important;
		bottom: 0 ;
		width: 300px !important;
		height: 280px !important;
		
	}
	
	.intro {
		top: 65% !important;
		line-height: 20px !important;
	}
	.intro h1 {  
		margin-bottom: 250px !important;
		
	}
	
	.typewrite > .wrap {
		font-size:27px !important;
		margin:0 auto !important;
	}
	
	
	.main_top-m .logo h2 span {   
		margin-left: 67px !important;
	}
	
	.personal {
		width: 100% !important;
		position: absolute !important;
		bottom: 30px !important;
		right: 0 !important;
		padding: 15px !important;
		margin: 0 auto !important;
		text-align: center !important;
		/* top: 0; */
	}
	
}	
